doctype html
html
  head
    title Phone Verificator
    meta(name=viewport, content="width=device-width, initial-scale=1")
    link(href="//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css", rel="stylesheet")
    link(rel="stylesheet", href="/style.css")

  body
    header.bw-header
      .bw-header-content
        img.bw-logo(src="https://s3.amazonaws.com/bandwidth-public-assets/bw_logo_white.svg")
        h1.bw-title Phone Verificator
    .bw-body
      .bw-body-content.container
        .pure-g
          .pure-u-0.pure-u-sm-1-6
          .pure-u-1.pure-u-sm-2-3
            block body
          .pure-u-0.pure-u-sm-1-6
    footer.bw-footer
      .bw-footer-content
        img.bw-logo-small(src="https://s3.amazonaws.com/bandwidth-public-assets/bw_logo_white.svg")
        div.bw-info
          span.bw-copyright &copy; 2016 Bandwidth.com
          a.bw-home-link(href="www.bandwidth.com") www.bandwidth.com
